<!-- views/partials/footer.ejs -->
<footer class="footer">
  <p>© 2020 No pedi permiso :):(.</p>
  <i class="fa fa-twitter" aria-hidden="true"></i>                                  
  <a class="twitter-follow-button" target="_blank"
  href="https://twitter.com/SebEdRmz">
  Sigume!!! @SebEdRmz</a>
</footer>

