  <!-- Nombre del autor: Sebastian Eduardo Ramirez Bocanegra
       Objetivo de archivo: Pie de pagina
       Fecha y hora: 29/10/2020 \-->		  
<!-- views/partials/footer.ejs -->
<hr color="black">
<footer class="footer">
  <p>© 2020 No pedi permiso :):(.</p>
  <i class="fa fa-twitter" aria-hidden="true"></i>                                  
  <a class="twitter-follow-button" target="_blank"
  href="https://twitter.com/SebEdRmz">
  Sigume!!! @SebEdRmz</a>
</footer>

