<!DOCTYPE html>
<html lang="es">  
  <head>    
     <title>Me gustas Twitter</title>
     <%- include('partials/head'); %>
  <body>    
     <%- include('partials/navbar'); %>
  <header>
  <h1>Tweets que me gustaron</h1>
 </header>  
 <a class="twitter-timeline" data-lang="es" data-theme="dark"
    href="https://twitter.com/SebEdRmz/likes?ref_src=twsrc%5Etfw">Tweets que le gustaron a @SebEdRmz</a>
   <%- include('partials/footer'); %>
   <%- include('partials/script'); %>    
  </body>  
</html>

